<h1 class="m-3">Editing Asignatura</h1>

<%= render 'form', asignatura: @asignatura %>

<%= link_to 'Mostrar', @asignatura, :class => "btn btn-success" %> |
<%= link_to 'Volver', asignaturas_path, :class => "btn btn-primary" %>
