<h1 class="m-3">Editing Areas Formacion</h1>

<%= render 'form', areas_formacion: @areas_formacion %>

<%= link_to 'Mostrar', @areas_formacion, :class => "btn btn-success" %> |
<%= link_to 'Volver', areas_formacions_path, :class => "btn btn-primary" %>
