<h1 class="m-3">Nuevo Perfil Egresado</h1>

<%= render 'form', perfil_egresado: @perfil_egresado %>

<%= link_to 'Volver', areas_formacions_asignaturas_path($asignatura.area_formacion_id), :class => "btn btn-primary" %>
